.check-button{
    width: 350px;
    height: 60px;

    background: #1A191E;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.check-button:hover{
    background: #131316;
}
/* ------------------------------------------------------ */


.button-toggle{
    width: 59px;
    height: 59px;

    background: #F0F0F0;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    border: none;

    align-items: center;
}

.button-toggle:hover{
    background: #EBEBEB;
}

#moon-img{
    transform: scaleX(-1);
    width: 31px;
    height: 31px;
}
/* ------------------------------------------------------ */


body.dark .check-button{
    background: #FFFFFF;
    color: #1A191E;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

body.dark .button-toggle{
    background: #2D2C32;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

body.dark #moon-img{
    filter: brightness(0) invert(1);
}




